BackendWCF/GUIWPF/Service References/ServiceReference1/DTU2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BackendWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BackendWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element name="_x003C_Beskrivelse_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Dato_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Navn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Sted_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
</xs:schema>